.body
{ 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	margin-right: 0;
	margin-left: 0;
	margin-top: 51px;
	margin-bottom: 42px;
	line-height: 1.25em;
	color: black; 
	background: white;
	width: 100%;
}

.pg_tbl
{
	height: 100%;
	width: 100%;
	table-layout: fixed;
	border-width:0px;
	border-spacing: 0;
	padding: 0px;
	border-collapse: collapse;
	margin: 0;
	border: 0;
}

.pg_tbl_cell
{
	margin:0;
	padding:0;
}

ol			
{ list-style-type: decimal;
	padding: 0;
	margin: 0;
	margin-left: 1.5em;
}
ul			
{ list-style-type: circle;
	padding: 0;
	margin: 0;
	margin-left: 1.5em;
}
p			{ margin-bottom: 0; }
a			
{ color: red;
	text-decoration: none;
}
a:hover			
{ color: red;
	text-decoration: underline;
}

.cmd_button
{
	box-sizing:border-box;
	width:100%;
	float:right;
}

.expanding_cell
{
	height: 100%;
	padding-right: 1em;
	margin-right: 1em;
	width: 100%;
}

.value_input
{
	float: right;
	width: 100%;
	box-sizing: border-box;
}

.preview_container
{
	margin-left: 42px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.preview_area
{
	width: 100%;
    box-sizing: border-box;
	background: #A6A6A6;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	overflow: auto;
}

.dock_left
{
	display:inline;
	float:left;
}

.dock_right
{
	display:inline;
	float:right;
}

.dock_bottom
{
	float: bottom;
	height: 38px;
	border: 1px solid "black";
}

.page_tbl
{
	border-width:0px;
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}

.info_img_cell
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	width: 42px;
	height: 32px;
}

.splitter_img_cell
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	width: 42px;
	height: 16px;
}

.setting_cell
{
	background: #A6A6A6;
	padding-right: 0.8em;
}

.props_cell
{
	background: #A6A6A6;
	padding: 8px;
}

.settings_tbody
{
	bottom: 1em;
}

.tbl_hdr
{
	background: #A6A6A6 url(images/backs/hdr_back.gif) repeat-x;
	vertical-align: middle;
	height: 32px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 6;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	min-width: 0;
}

.header1
{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.name_cell
{
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	min-width: 0;
}

.fixed_name_cell
{
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	padding-right: 1em;
	width: 10em;
	min-width: 0;
}

.fixed_value_cell
{
	vertical-align: top;
	text-align: right;
	padding-right: 1em;
	margin-right: 1em;
	white-space: nowrap;
}

.fixed_text_cell
{
	height: 5em;
	text-align: right;
	padding-right: 1em;
	margin-right: 1em;
	white-space: nowrap;
	vertical-align: top;
}

.value_cell
{
	vertical-align: top;
	text-align: right;
	padding-right: 1em;
	margin-right: 1em;
	width: 40%;
	white-space: nowrap;
}

.preset_btns_cell
{
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 10em;
	min-width: 0;
}

.preset_selector_cell
{
	vertical-align: top;
	text-align: right;
	padding-right: 1em;
	margin-right: 1em;
	width: 100%;
	white-space: nowrap;
}

.settings_list
{
	width: 100%;
	table-layout: fixed;
	background: #A6A6A6;
	border-width:0px;
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
	margin: 0;
}

.splitter_row
{
	height: 0.3em;
}

.radio_selected
{
	background: #A6A6A6 url(images/backs/line.gif);
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

.radio_unselected
{
	background: #A6A6A6;
	border-bottom: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	cursor: hand;
}

.radio_unselected_over
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: hand;
}

.btn_checked
{
	background: #A6A6A6 url(images/backs/dot.gif);
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	cursor: hand;
}

.btn_unchecked
{
	background: none;
	border-bottom: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	cursor: hand;
}

.btn_unchecked_over
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: hand;
}

.btn_checked_over
{
	background: #A6A6A6 url(images/backs/dot.gif);
	border-top: 1px solid white;
	border-left: 1px solid white;
	cursor: hand;
}

.img_btn
{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	float: left;
}

.img_btn_pressed
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	float: left;
}

.speed_btn_over
{
	background: #A6A6A6 url(images/backs/hdr_back.gif) repeat-x;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: hand;
}

.speed_btn
{
	background: none;
	border-bottom: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	cursor: hand;
}

.hidden
{
	display: none;
}

.bottom_tbl
{
	width: 100%;
	border-width:0px;
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
}

.RO
{
	background: #A6A6A6;
	font-weight: bold;
	border-width:1px;
	border-style: outset;
	border-spacing: 0;
}

.side_btn
{
	border-width: 1px;
	border-color: white;
	cursor: hand;
}

.deleted
{
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	/* -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=6)"; */
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=20);
	/* filter:blur(add=false, direction=135, strength=9); */
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.2;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.2;
}

.simple_btn
{	
	background: none;
	border-width:0px;
	cursor: hand;
	margin-bottom: 0.8em;
	font-style: italic;
}

.simple_btn_over
{
	background: #A6A6A6 url(images/backs/hdr_back.gif) repeat-x;
	margin-bottom: 0.8em;
	font-style: italic;
}

.close_btn
{
	display:inline;
	float:right;
	background: none;
	border-width:0px;
	cursor: hand;
}

.close_btn_over
{
	display:inline;
	float:right;
	color: "red";
}

.props_hdr
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline;
	min-width: 0px;
	max-width: 100%;
	width: 100%;
	text-align: left;
}

.wrapper
{
	width: 100%;
	height:100%;
	padding-right: 9px;
	padding-left: 9px;
	margin: 0;
	box-sizing: border-box;
}

.settings_group
{
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.horiz_split
{
	width: 100%;
	height: 0.5em;
	clear: both;
}

.header
{
	height: 51px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top:6px;
	padding-bottom:3px;
	padding-right:3px;
	padding-left:3px;
	box-sizing: border-box;
	background-color: silver;
	-webkit-box-shadow: 0px 6px 5px rgba(30, 30, 30, 0.75);
	-moz-box-shadow:    0px 6px 5px rgba(30, 30, 30, 0.75);
	box-shadow:         0px 6px 5px rgba(30, 30, 30, 0.75);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=180, Color='#4C4C4C')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=180, Color='#4C4C4C') alpha(opacity=95);
	opacity: 0.95;
}

.header_caption
{
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top:6px;
	padding-bottom:3px;
	padding-right:3px;
	padding-left:3px;
	margin: 0;
}

.content
{
	padding-top: 9px;
	padding-right: 9px;
	width: 100%;
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	box-sizing: border-box;
}

.elastic
{
	height: 32px;
	margin-left: 42px;
}

.info_col
{
	float: left;
	width: 42px;
	height: 32px;
	text-align: center;
}

.dial_icon
{
	float: left;
	width: 42px;
	height: 42px;
	text-align: center;
	background-image: url('images/backs/tool_icon_back.gif');
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
	padding: 5px;
	margin-left: 2px;
	margin-right: 2px;
	cursor: hand;
}

.setting_band
{
	height: 32px;
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

.setting_name
{
	float: left;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding: 3px;
	box-sizing: border-box;
}

.setting_ctrl
{
	margin-left: 50%;
	padding: 3px;
	box-sizing: border-box;
}

.gradient_w
{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

.footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 42px;
	width: 100%;
	white-space: nowrap;
	padding-top:9px;
	padding-bottom:6px;
	padding-right:15px;
	padding-left:6px;
	box-sizing: border-box;
}